<div class="container-fluid">
<h5>Registration Form</h5>
<form #userForm="ngForm">

{{userForm.value | json}}

  <div class="form-group">
    <input
      type="firstName"
      class="form-control"
      id="first-name"
      placeholder="First Name"
      name="firstName"
      ngModel
    />
  </div>
  <div class="form-group">
    <input
      type="middleInitial"
      class="form-control"
      id="middle-initial"
      placeholder="Middle Initial"
      name="middleInitial"
      ngModel
    />
  </div>
  <div class="form-group">
    <input
      type="lastName"
      class="form-control"
      id="last-name"
      placeholder="Last Name"
      name="lastName"
      ngModel
    />
  </div>
  <div class="form-group">
    <input
      type="email"
      class="form-control"
      id="user-email"
      placeholder="Email"
      name="email"
      ngModel
    />
  </div>
  <div class="form-group">
    <input
      type="phone"
      class="form-control"
      id="user-phone"
      placeholder="Phone"
      name="phone"
      ngModel
    />
  </div>

  <button id="btn-submit" class="w-10 btn btn-lg btn-primary" type="submit">
    Submit
  </button>

  <button id="btn-cancel" class="w-10 btn btn-lg btn-secondary" type="cancel">
    Cancel
  </button>
</form>
