<div class="container-fluid">
<h5>Registration Form</h5>
<form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit(userForm.value)"  novalidate>
  <div class="form-group">
    <input
      type="firstName"
      required
      maxLength="50"
      #firstName="ngModel"
      [class.is-invalid]="firstName.invalid && firstName.touched"
      class="form-control is-invalid"
      id="first-name"
      placeholder="First Name"
      name="firstName"
      [(ngModel)]="userModel.firstName"
    />
    <small
      class="text-danger"
      [class.d-none]="firstName.valid || firstName.untouched"
      >First name is required</small
    >
  </div>
  <div class="form-group">
    <input
      type="middleInitial"
      maxlength="1"
      #middleInitial="ngModel"
      class="form-control"
      id="middle-initial"
      placeholder="Middle Initial"
      name="middleInitial"
      [(ngModel)]="userModel.middleInitial"
    />
  </div>
  <div class="form-group">
    <input
      type="lastName"
      required
      maxlength="50"
      #lastName="ngModel"
      [class.is-invalid]="lastName.invalid && lastName.touched"
      class="form-control"
      id="last-name"
      placeholder="Last Name"
      name="lastName"
      [(ngModel)]="userModel.lastName"
    />
    <small
      class="text-danger"
      [class.d-none]="lastName.valid || lastName.untouched"
      >Last name is required</small
    >
  </div>
  <div class="form-group">
    <input
      type="email"
      maxlength="255"
      class="form-control"
      id="user-email"
      placeholder="Email"
      name="email"
      [(ngModel)]="userModel.email"
    />
  </div>
  <div class="form-group">
    <input
      type="phone"
      maxlength="255"
      #phone="ngModel"
      pattern="^\d{10}$"
      [class.is-invalid]="phone.invalid && phone.touched"
      class="form-control"
      id="user-phone"
      placeholder="Phone"
      name="phone"
      [(ngModel)]="userModel.phone"
    />
    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
      <small class="text-danger" *ngIf="phone.errors.pattern"
        >Phone number must be 10 digits</small
      >
    </div>
  </div>

  <button
    id="btn-submit"
    [disabled]="userForm.form.invalid"
    class="w-10 btn btn-lg btn-primary"
    type="submit"
  >
    Submit
  </button>

  <button id="btn-cancel" class="w-10 btn btn-lg btn-secondary" type="reset">
    Cancel
  </button>
</form>
</div>
